<ul>
    {{ $currentPage := . }}
    <li>
      <span title ="Zoeken">
      <span title ="Zoeken">
        <svg id="search-icon" 
          tabindex="0"
          role="button"
          aria-label="Zoeken"
          aria-expanded="false"
          viewBox="0 0 24 24">
            <circle cx="11" cy="11" r="7" stroke="currentColor" stroke-width="2.5" fill="none"/>
            <line x1="16.5" y1="16.5" x2="21" y2="21" stroke="currentColor" stroke-width="2.5" stroke-linecap="round"/>
        </svg>
      </span>
      <input id="search-input" class="search-overlay-input" type="text" placeholder="Zoeken..." />
    </li>
    {{ range .Site.Menus.main }}
        <li>
          <span title=" {{ .Title }}">
            <a href="{{ .URL }}">{{ .Pre | safeHTML }}</a>
          </span>
        </li>
    {{ end }}
    <li>
      <span title="Wissel tussen licht en donker thema">
          <svg id="menuDarkModeToggle"
            tabindex="0"
            aria-label="Wissel tussen licht en donker thema" 
            viewBox="0 0 24 24"
            role="button">
            <path d="M12 2a10 10 0 0 0 0 20V2z" fill="currentColor"/>
            <circle cx="12" cy="12" r="10" fill="none" stroke="currentColor" stroke-width="2"/>
          </svg>
      </span>
    </li>
</ul>
